
table {
    width: 80%;
    border-collapse: collapse;
    margin: 50px auto;
}


th, td {
    border: 1px solid #333;
    padding: 20px;
    text-align: center;
}


th {
    background-color: #f2f2f2;
}

img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;

}

.primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    }

form {
  max-width: 500px;
  margin: 30px auto;
  padding: 50px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f6fbff;
  font-family: Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
}

input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 15px ;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="file"] {
  padding: 5px;
  background-color: #fff;
}

button,
a.button-link {
  display: inline-block;
  padding: 10px 16px;
  margin-right: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

button {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: 500;
}


.button2 {
  background-color: #cc0000;
  color: #ffffff;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

